<link rel="stylesheet" href="shop-search.page.scss">
<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="bg">

 <div class='row align top'>
    <div class="col-md-2">
        <ion-searchbar  placeholder="From"></ion-searchbar>
      </div>
      <div class="col-md-2">
        <ion-searchbar  placeholder="To"></ion-searchbar>
      </div>
      <ion-button class="btn btn-sm offset-1" (click)="navigate()">Go</ion-button>
    </div>
  </div>
</ion-content>

