
//background picture for home page
.bg {
  /* The image used */
  background-image: url("https://i.pinimg.com/originals/05/54/1f/05541ff549e726779b0d0315b30e99a9.jpg");
  /* Full height */
  height: 100%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//"Choose your Mall" sentence
.mall_choose {
  font-family: "Open Sans"; 
  font-size: 30px;
  font-weight: bold;
}

//ion search box
.sc-ion-searchbar-md-h{
  --border-radius:10px;
}

.hide{
  visibility: hidden;  
}

.visible{
  visibility: visible;
}

//list of mall
.list-md {
  padding:0;
}