<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="bg">
      <div class= "row h-50">
      <div class="col-sm-12 my-auto text-center">
      <p class="mall_choose">Choose your Mall</p>
    
    <div class="col-md-4 offset-md-4">

      
        <ion-searchbar (ionChange)="onSearchTerm($event)" placeholder="Search"></ion-searchbar>

        <ion-list id="content">
            <ion-item button *ngFor="let item of items" (click)="itemSelected(item)">
              {{item.title}}
            </ion-item>
        </ion-list>
  </div>
    </div>
    </div>
  </div>
</ion-content>
